[2015-03-17 19:25] GoogleCodeExporter opened #1 "Error messages using latest download with Oxygen 13.2"
[code]

Original issue reported on code.google.com by `martindh...@gmail.com` on 20 Jun 2012 at 5:41

[2015-03-17 19:25] #1 closed, assigned to nobody

[2015-06-05 15:04] martindholmes opened #2 "Author Mode CSS for jTEI numbers tables incorrectly"
If you create two tables in separate divs, their captions in the Author mode CSS are both identical (Table 1, Table 1); numbering does not increment.

This does not affect ODT and PDF output.

[2015-06-05 20:01] rvdb commented on #2
fixed in commit ad1db91dc92432ac17353359d1530b77839e99eb

[2015-06-05 20:01] #2 closed

[2015-07-31 19:11] martindholmes opened #3 "New build script must run on Windows"
The ant build file I'm creating to cover all our various build scenarios (jenkins stable, jenkins bleeding-edge, tei stable, and oxygen release) is a long way from complete, but one request from the Oxygen team is that it be able to run on Windows. This will mean some branching; I use bash for various things at the moment (such as checking the latest Stylesheets version from git, and running some

[2015-07-31 19:15] martindholmes opened #4 "Stable TEI-C release version must run on TEI server"
I'm hoping this is not something that requires changes to the codebase here, but as part of a reorganization of the tei release process we will need to be able to build the plugin on the tei-c server. That's not currently possible due to a version issue with a package on tei-c; I'm discussing this with sysadmin now.

[2015-09-16 05:58] AlexJitianu opened #5 "Synchronize with the upcoming Oxygen version 17.1 release"
Oxygen version 17.1 is not far away so we want to make sure the TEI framework contains the new changes and that the Java extensions are up to date. I will probably create a branch and make all these changes on it and when v17.1 is released I will merge it into the trunk.

[2015-09-16 12:40] martindholmes commented on #5
Hi Alex. I haven't yet had a chance to update the build file so it will work on Windows. You can still build in the way you've always done (I'm not sure how you do that on Windows, though, since it's a bash script). The most important thing is to use the latest release version of P5 and the latest release version of the Stylesheets, which are currently here:

http://sourceforge.net/projects/tei/fi

[2015-09-16 12:46] AlexJitianu commented on #5
Hi Martin,

Thank you for the hints! Indeed, I remember I had to run that script on a Linux. I'll either try that again or use the direct download links you've provided.

[2015-09-16 14:48] jamescummings commented on #5
What is the date of oXygen 17.1 release?  I'm assuming this couldn't be delayed until the next upcoming TEI release?

[2015-09-16 15:12] martindholmes commented on #5
Hi Alex,

If you're running it on Linux anyway, you could try my ant task, which has a build target for you:

ant syncro

I'm presuming that after you've built the package, you sign the results for use in Oxygen -- is that right?

Cheers,
Martin

[2015-09-17 06:12] AlexJitianu commented on #5
Hi James,

The release is scheduled for mid October. We are doing the TEI update a
little before that time because we want to make sure it is stable. When
it's the next TEI release scheduled? I don't think we can delay the
Oxygen release.

Best regards,
Alex
--
Alex Jitianu
<oXygen/>  XML Editor, Schema Editor and XSLT Editor/Debugger
http://www.oxygenxml.com

On 9/16/2015 5:48 PM, James Cummings

[2015-09-17 06:27] AlexJitianu commented on #5
Hi Martin,
The built package will be bundled into Oxygen v17.1 (we have a number of predefined frameworks and TEI is one of them).

[2015-09-17 12:35] martindholmes commented on #5
Hi Alex,
I don't think you need to wait for a TEI release, even if that were practical. We're still working out some of the issues around moving to GitHub. In my last question, I was actually asking about signing the code. If you don't do that, and all you actually do is build the package without any changes, then you could take the latest build from our build server (http://teijenkins.hcmc.uvic.c

[2015-09-24 15:52] martindholmes commented on #5
Hi Alex,

We are planning the TEI release for October 8. The options for Oxygen are:

1. Build the plugin before October 8, so that you use the current stable versions linked above.

2. Build the plugin a few days after our release, so that we're all confident that the release has no problems.

We have transitioned from SourceForge to GitHub recently, and a lot of changes have been made to our rel

[2015-09-25 06:02] AlexJitianu commented on #5
Hi Martin,

I've went with option number 1. I've already integrated the current, stable version. On the branch I've created I also brought in the small changes that we've made to the TEI framework and Java sources in the current Oxygen development stream. One aspect that should be taken into account is that this framework might not be fully compatible with older versions of Oxygen. I'm expecting t

[2015-10-02 18:11] martindholmes opened #6 "Entity encoding lost in PDF and ODT processing of jTEI egXMLs"
An egXML like this in a source article:

[code]

will result in output that looks like this:

[code]

where the ampersands appear unescaped in the output. It is arguable that the ampersands in the input should be doubly-escaped, and in fact this has the desired effect; if that is the correct procedure, we should document it in the jTEI ODD.

[2016-03-24 10:11] AlexJitianu opened #7 "ID-related error inside tei_math.rng"
Hi,

I'm updating the TEI schema to be distributed with Oxygen v18.0 (which is to be released soon). I've taken the TEI schema version 2.9.1 and when opening and validating tei_math.rng inside Oxygen I get the following error:

conflicting ID-types for attribute "id" of element "mspace" from namespace "http://www.w3.org/1998/Math/MathML"

The error is related to this definition:

[code]

To fix th

[2016-03-24 12:41] martindholmes commented on #7
Hi Alex,

I've asked the TEI Council to look at this; there have been changes in
macro.anyXML recently which probably result in this problem.

The TEI is planning a release of version 3.0.0 of TEI and version 7.41.0
of the Stylesheets next Tuesday, so if you're building for a subsequent
release of Oxygen, it would be best to use that. There are products for
those branches available here:

<http://

[2016-03-24 12:44] martindholmes commented on #7
I've tested the tei_math.rng from the release branch:

<http://teijenkins.hcmc.uvic.ca/job/TEIP5-release-3.0.0/lastSuccessfulBuild/artifact/P5/release/xml/tei/custom/schema/relaxng/tei_math.rng>

and the problem is not there; however it is there in the master branch,
which I presume is out of date.

Cheers,
Martin

On 16-03-24 03:11 AM, AlexJitianu wrote:

[2016-03-24 12:46] hcayless commented on #7
I’m pretty sure that was fixed in dev a couple of months ago. We’ll be doing a release (3.0.0) next week, which will have the fix in it. Master is out of date, because we’ve switched to a Git Flow repo model.

/**
 *  Hugh A. Cayless, Ph.D
 *  Chair, TEI Technical Council
 *  hugh.cayless@duke.edu
 *  Duke Collaboratory for Classics Computing (DC3)
 *  http://blogs.library.duke.edu/dcthree/
**/

[2016-03-24 13:26] AlexJitianu commented on #7
Hi Martin and Hugh,

Is good to know that is already fixed. I think we can wait 'till Tuesday. I'll try to make another update then and see how our tests run. Hopefully they wont find any issues (first releases can have problems).

Best regards,
Alex

[2016-04-07 14:11] AlexJitianu commented on #7
Hi,

I confirm that in version 3.0.0 the problem doesn't reproduce anymore. One additional small issue I've encountered: in tei_enrich.rng there are two Schematron patterns with the same id: tei_enrich-relatedItem-targetorcontent1-constraint-8

When validating with this schema you get an error: cvc-id.2: There are multiple occurrences of ID value 'tei_enrich-relatedItem-targetorcontent1-constraint

[2016-04-07 16:01] martindholmes commented on #7
Confirmed, here:

http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_enrich.rng

I'll raise this as a bug on the TEI repo. The rng file itself validates, despite the duplicate id; I guess it's not an xml:id so uniqueness is not enforced when validating the schema. It's not till the Schematron validation process compiles it that the duplicate id problem emerges.

[2016-08-12 13:53] jamescummings commented on #7
Hi. Is this really a problem with tei_enrich? It sounds like something is wrong in the processing. The only schematron rule inside tei_enrich is at https://github.com/TEIC/TEI/blob/dev/P5/Exemplars/tei_enrich.odd#L3099
so this conflict must come from processing the ODD and getting this rule from full TEI?
relatedItem was added to TEI after ENRICH, so ENRICH has moduleRef for all of core and then d

[2016-08-12 18:05] martindholmes commented on #7
I've seen this duplicate id problem in one of my own schemas, and I've been meaning to raise a ticket for it. When I get to a decent internet connection I'll try to reproduce it and post a link to the ODD. If we can figure out what's common to these ODDs it should be a straightforward fix. One possibility is the occurrence of two constraints in the same constraintSpec, or something like that; Syd

[2016-10-21 21:30] martindholmes opened #8 "Time to remove P4 from the Oxygen framework?"
P4 in TEI has long been deprecated, and the P4 framework for Oxygen was marked as deprecated four years ago:

[code]

I would like Council to discuss removing the entire P4 framework at this point.

[2016-10-22 07:41] lb42 commented on #8
Fine by me. We could remove that oxygen tei starter thing st the same time.

[2016-10-22 20:14] martindholmes commented on #8
What tei starter thing?

[2016-10-23 08:39] lb42 commented on #8
The thing called "tei minimal" and its varieties. And we should add tei simple or whatever it winds up being called.

[2016-10-23 18:24] martindholmes commented on #8
Minimal is in the TEI Exemplars; has Council decided to get rid of it? What's the difference between "bare" and "minimal"?

Simple never seems to settle down enough to be included; if its very name is in question now, after all these years of people talking about it and publishing about it, it seems further than ever from a practical release. I don't think it belongs in the Oxygen plugin until it'

[2016-10-23 18:32] lb42 commented on #8
At the last council meeting, it was agreed that Simple should be included in the next release, i.e. next month. We have also agreed to fix on a name for it next week.   Getting it into the plugin would be a definite step forward. I am not sure what you mean by "fully integrated into P5" : everything it contains has been in P5 since April this year, notably the Processing Model. It's as well suppor

[2016-10-23 18:38] lb42 commented on #8
Bare is even more minimal than minimal. Minimal was invented by Sebastian as a minimal ODD , rather than a minimal schema, whichh I for one find very confusing. I dont think anyone uses it. But you're right, Council hasnt discussed dropping it as such.

[2016-10-23 22:17] martindholmes commented on #8
@lb42: by "fully integrated" I meant included as an exemplar, listed here:

http://www.tei-c.org/Guidelines/Customization/

(which "minimal" never was), and with any stylesheet handling that's required (such as processing of the private-uri `@rendition` values) added to the Stylesheets. If that's the target for the next release, that's great. I don't know why the name needs to be changed, but if i

[2016-10-24 05:04] raducoravu commented on #8
👍 Next Oxygen version will be a major one (19.0) so good time to make changes which could break a little bit the backward compatibility with older TEI documents.

[2016-10-24 09:24] jamescummings commented on #8
The only time people use Minimal is when then choose "Build Up" in TEI Roma.  I believe it was created for that purpose, to be a template starting ODD for further customisation, not a complete product in itself. I don't think it should be in the oxygen-tei framework really.

The only time I've used it as a schema is when teaching ODD customisation.

+1 for removing TEI P4 from the oxygen-tei frame

[2016-10-24 12:40] martindholmes commented on #8
This definitely needs a Council decision. I've written to TEI-L to see if anyone would miss it.

[2016-11-18 21:06] martindholmes commented on #5
Obsolete, so closing.

[2016-11-18 21:06] #5 closed

[2016-11-18 21:26] martindholmes commented on #7
I believe this is an effect of this Stylesheets issue:

https://github.com/TEIC/Stylesheets/issues/176

[2016-11-18 21:50] martindholmes commented on #6
This happens not just in attribute values but also in text nodes, and it requires a fix be provided in Stylesheets/profiles/jtei/odt.common.xsl, around lines 634 and 644.

[2016-11-18 22:22] martindholmes commented on #6
Fix for the ODT portion of this problem committed to the Stylesheets repo in

https://github.com/TEIC/Stylesheets/commit/76524f91681780eb529abdffc6b511971f6b374e

[2016-11-18 22:32] martindholmes commented on #6
Fix for the PDF portion of this bug committed to the Stylesheets repo in

https://github.com/TEIC/Stylesheets/commit/b470fe79d67c4dda91dbd53426fb6c5abff8179c

[2016-11-18 22:41] martindholmes commented on #6
Waiting for builds and tests before closing. But there may be a bit more work to do:

My assumption is that ampersand, `<` and `>` inside an egXML-descendant text node or attribute value should be double escaped so that they appear as escapes in the output; I've ignored single and double quotes, because they don't need to be escaped in many situations, although it's possible we should look at doin

[2016-11-18 22:52] martindholmes commented on #8
@raducoravu What's the timeline for Oxygen 19? It would be good if we could have all these proposed changes integrated and tested into a stable version of the plugin ready for that release.

[2016-11-21 05:57] raducoravu commented on #8
@martindholmes Oxygen 19 should be released in May-June 2017.

[2016-11-21 13:22] martindholmes commented on #8
Thanks @raducoravu, that's a very practical target. We could remove it from the bleeding-edge version of the plugin soon, then from the stable version in the first 2017 release of P5/Stylesheets; then it would be well-tested in time for the Oxygen release. @jamescummings, could you raise this with Council? I'll assign it to you, then you can assign it back to me if/when it gets approval.

[2016-11-21 16:09] rvdb commented on #6
I've fixed the remaining bug (escaping of double quotes in attribute values inside `<egXML>`) in this pull request: https://github.com/TEIC/Stylesheets/pull/189. That commit also harmonizes `<egXML>` processing in all 3 output formats (PDF, ODT, OpenEdition).

[2016-11-29 08:57] #6 closed

[2016-12-07 09:55] raducoravu opened #11 "New file template contains invalid content"
When the framework zip is produced, there is a new file template in:
templates\TEI P5\Feature Structures.xml

which is invalid. Also it is not a very good new file template. New File templates should be used as a starting point for the end user and should be terse. So they are not samples of what can be done with a certain vocabulary.

[2016-12-07 11:09] jamescummings commented on #8
As posted on tei-council mailing list, setting status:Go and assigning @martindholmes who has suggested he is willing to implement. If no negative comments, go ahead and implement in next couple days.

[2016-12-07 11:11] lb42 commented on #8
How about getting simpleprint in as well? That's already been agreed by council!

[2016-12-07 11:14] jamescummings commented on #8
Yes, if changing the framework, might as well add that in as well, IMHO.

[2016-12-07 11:25] lb42 commented on #8
And fix issue #11 which looks bad! I can't find the template file Radu is referring to  but certainly the file tei_isofs.template file in Exemplars looks broken

[2016-12-07 11:30] raducoravu commented on #8
To avoid duplication there seems to be a Linux shell script "update-and-upload.sh" which automatically downloads resources from:

https://sourceforge.net/projects/tei/
and that "tei-3.0.0.zip\xml\tei\custom\templates" is used renamed to be the TEI P5 templates folder in the framework. So the change would need to be done to that ZIP file.

[2016-12-07 11:57] lb42 commented on #11
Thanks for reporting this! The template has been made simply by copying the little test file isofs.tei, but the latter was invalid. I've corrected both. I agree that the template file could be improved...

[2016-12-07 12:03] raducoravu commented on #11
👍 No problem, we recently created an automated test in Oxygen to test all new file templates which ship with the application and this template was flagged as not valid TEI.

[2016-12-07 12:07] lb42 commented on #11
Valid against what though? isofs.tei is valid against the schema generated from isofs.odd, which is not the same as TEI all (it has a different set of start elements)

[2016-12-07 13:03] raducoravu commented on #11
The current "Feature Structures.xml" TEI P5 file template distributed with Oxygen 18.1 in "OXYGEN_INSTALL_DIR\frameworks\tei\templates\TEI P5" has the content:

			<?xml version="1.0" encoding="UTF-8"?>
			<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/isofs.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
			<?xml-model href="http://ww

[2016-12-07 13:05] lb42 commented on #11
I  checked a corrected version into the tei repo about an hour ago

[2016-12-07 13:46] martindholmes commented on #8
I think the Simple thing should be a separate ticket.

[2016-12-07 14:01] lb42 opened #12 "add simple Textometrie.org"

[2016-12-07 14:02] #12 closed

[2016-12-07 14:06] lb42 opened #13 "add simplePrint option to tei p5 framework"
It should  be possible to create and validate TEI simplePrint documents in  oxygen when the schema is released. There's a sample file and a template file in the exemplars directory which çan  be used, and the schemas can be generated from the odd in the same way as other  exemplars. Council has already agreed that this should be done as part of next release.

[2016-12-07 14:09] lb42 commented on #8
Can't see why, but I have created one anyway.

[2016-12-07 15:28] martindholmes commented on #13
Is it now simpleText? It was simplePrint yesterday.

[2016-12-07 15:29] martindholmes commented on #8
Because I'd like to deal with things one at a time, in an organized way, or I get confused. :-)

[2016-12-07 15:31] lb42 commented on #13
Sorry, my bad. simplePrint it is. Typing on a tablet is always a challenge.

[2016-12-07 21:14] martindholmes commented on #8
I've merged branch noP4 at commit https://github.com/TEIC/oxygen-tei/commit/2127e65a60daafdf023a73febb3ed91a342e28f3 which has my first attempt at removing all P4-related stuff. The bleeding-edge Oxygen plugin built successfully, and installed in my Oxygen, and indeed there is no P4 stuff to be seen. Whether everything else still works will require some testing. If you have the bleeding-edge plugi

[2016-12-07 22:09] lb42 commented on #8
I installed oxyGen 18.1, and updated to the bleeding edge plugin. If I look in .com.oxygenxml/extensions/v18.1/frameworks/http___teijenkins.hcmc.uvic.ca_job_oxygen_tei_bleeding_lastSuccessfulBuild_artifact_oxygen_tei_updateSite.oxygen/tei/templates/
I see what appear to be the right folders (i.e. TEI JTEI, TEI P5 and TEI ODD only)
However, for reasons I fail to understand, in oXygen itself, when I

[2016-12-07 23:29] martindholmes commented on #8
@lb42: There are two sources for the list of document types: the core framework distributed with Oxygen itself (which is the old stable one), and the bleeding-edge plugin you've installed. If you go to Options/Preferences/Document Type Association, you'll see that the core framework document types are marked (for some reason) with "External", while the ones from the bleeding-edge plugin are marked

[2016-12-08 12:22] lb42 commented on #8
Ah, thanks for the clarification. That seems to have done the trick. And I see that simplePunt is there already!

[2016-12-08 12:31] lb42 commented on #11
Apologies: I pushed version of template file which was valid against TEI All instead of isofs. Fixed now, so closing.

[2016-12-08 12:31] #11 closed

[2016-12-08 15:57] martindholmes commented on #13
@lb42: It's "in" the bleeding edge plugin already, since it's an Exemplar, but it points at a schema here:

http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_simplePrint.rng

which won't exist until after the next release. But are there any particular transformation scenarios that should be associated with it? Should it have an accompanying Author Mode stylesheet? Are there any partic

[2016-12-08 18:27] lb42 commented on #13
Nope, not yet. No doubt in the fullness of time...

[2016-12-09 04:49] hcayless commented on #7
Already fixed, so closing

[2016-12-09 04:49] #7 closed

[2016-12-15 22:27] martindholmes commented on #13
I think this is completed for the moment; when the Stylesheets have nifty processing pipelines for simplePrint docs, we can add matching scenarios to the plugin.

[2016-12-15 22:27] #13 closed

[2016-12-15 22:28] martindholmes commented on #8
Done and gone.

[2016-12-15 22:28] #8 closed

[2016-12-19 16:08] hcayless opened #14 "ODD Conversion fails with 6.1.0"
Bug report from Nathan Gibson, who gets an error converting from ODD to RNC in Oxygen, using the latest version of the plugin. I was able to replicate it.

We had this issue with a version of Saxon in the Stylesheets while working on the release. The latest version doesn't have it. I can convert Nathan's ODD using the Stylesheets/bin/teitornc process.

[code]

[2016-12-19 16:40] martindholmes commented on #14
@hcayless could you attach the ODD file to the ticket or send it to me? Do you get the same issue with the bleeding-edge plugin? Is it possible the plugin was built before the Stylesheets latest release was available from SourceForge?

[2016-12-19 16:53] nathangibson commented on #14
Thanks, @hcayless !

@martindholmes here is the ODD file: https://github.com/srophe/srophe-eXist-app/blob/b5537de5f00aaa8ddc7765528f8d44c37f24e002/srophe-app/documentation/syriaca-tei-main.odd

[2016-12-19 16:56] lb42 commented on #14
I noticed this problem yesterday. It seems to happen trying to convert
*any* ODD to RNG, sfaics. Curiously enough, if you try to convert an ODD
to a DTD, it does NOT happen.

On 19/12/16 16:08, Hugh A. Cayless wrote:

[2016-12-19 17:05] martindholmes commented on #14
I don't get the error using the Stylesheets master or dev branches, but I do get it with the bleeding-edge plugin in Oxygen, so it's something specific to the Oxygen environment....

[2016-12-19 17:07] hcayless commented on #14
It looks to me like Oxygen uses its own Saxon, which is an older version.
Not sure if there's a way to bundle the newer version and force the
classpath...

On Mon, Dec 19, 2016 at 12:05 PM, Martin Holmes <notifications@github.com>
wrote:

[2016-12-19 17:08] martindholmes commented on #14
Is it related to this:

https://github.com/TEIC/Stylesheets/issues/190

[2016-12-19 17:10] martindholmes commented on #14
Are we in a situation where one saxon version breaks one way, but the other breaks another way? So fixing things for the latest version in TEIC/Stylesheets#190, in anticipation of Oxygen 19, has broken things for Oxygen 18.1? Perhaps @AlexJitianu can help?

[2016-12-19 17:12] martindholmes commented on #14
Should we roll back the plugin with a manual edit to updateSite.oxygen?

[2016-12-19 17:26] hcayless commented on #14
Probably

On Mon, Dec 19, 2016 at 12:12 PM, Martin Holmes <notifications@github.com>
wrote:

[2016-12-19 17:27] martindholmes commented on #14
Somebody with keys to log into tei-c will have to do it. Remove the last stanza of the updateSite.oxygen file.

[2016-12-19 17:29] martindholmes commented on #14
This is why THIS:

https://github.com/TEIC/TEI/issues/464

[2016-12-19 17:40] jamescummings commented on #14
I have commented out the last xt:extension element in that file.
So someone updating now won't get it (but I don't know if there is a way to revert if you've already installed)?

[2016-12-19 17:42] hcayless commented on #14
Can't do it until I get home. My work computer doesn't have a key to log
in. Should probably fix that...

On Mon, Dec 19, 2016 at 12:27 PM, Martin Holmes <notifications@github.com>
wrote:

[2016-12-19 17:43] hcayless commented on #14
New release that rolls back to the old state?

On Mon, Dec 19, 2016 at 12:42 PM, Hugh Cayless <philomousos@gmail.com>
wrote:

[2016-12-19 17:50] jamescummings commented on #14
It is probably not needed to do a full new TEI release, just a release of the oxygen-tei plugin once we've sorted out exactly what the problem is and tested it is fixed.

Also, if I understand correctly having given it a quick look, in the Manage Add-Ons bit of oXygen (if you untick the 'show only latest release' or something like that) you can set it to install any version of the plugin.  This is

[2016-12-19 17:51] martindholmes commented on #14
I've just tried using Saxon 9.6 (the version in Oxygen 18.1) with both dev and master branches and I can't reproduce the problem. I have no idea what's wrong at this point.

[2016-12-19 18:04] martindholmes commented on #14
I just downloaded the plugin code and added to it the Stylesheets /bin and /lib dirs. When I run teitornc pointing at the 3.1 source bundled with the plugin, I get this error:

tei/xml/tei/stylesheet/rnc/build-to.xml:30: The following error occurred while executing this line:
tei/xml/tei/stylesheet/common/teianttasks.xml:382: Fatal error during transformation using tei/xml/tei/stylesheet/odds/odd2

[2016-12-19 18:43] martindholmes commented on #14
Stranger and stranger. I'm able to do a conversion using the TEI source in the plugin and the Stylesheets in the plugin, pointing saxonjar to Oxygen's saxon9ee.jar, without error. I don't get this.

[2016-12-19 18:54] ebeshero commented on #14
I installed the updated plugin before reading Hugh's warning, so I just
tested on an ODD to generate RNG XML within oXygen--and I saw no problem
either. Can we reproduce the problem?

Elisa

On Mon, Dec 19, 2016 at 1:43 PM, Martin Holmes <notifications@github.com>
wrote:

--
Elisa Beshero-Bondar, PhD
Director, Center for the Digital Text | Associate Professor of English
University of Pittsburgh at

[2016-12-19 18:59] jamescummings commented on #14
Did you just install the plugin today or earlier? (I.e. did you get it after I'd commented the latest release out?)

Or are you subscribed to the bleeding version of it?

[2016-12-19 18:59] martindholmes commented on #14
Elisa, can you test with the syriac ODD? It's here:

https://raw.githubusercontent.com/srophe/srophe-eXist-app/b5537de5f00aaa8ddc7765528f8d44c37f24e002/srophe-app/documentation/syriaca-tei-main.odd

[2016-12-19 19:02] martindholmes commented on #14
I've just done odd2odd on the syriac odd, in Oxygen debug, using the bleeding-edge plugin XSLT and the bleeding-edge plugin p5subset.xml, and I don't see the problem. I'm at a loss.

[2016-12-19 19:02] hcayless commented on #14
I can confirm this does *not* happen with Oxygen 18.0. Just 18.1

On Mon, Dec 19, 2016 at 1:59 PM, Martin Holmes <notifications@github.com>
wrote:

[2016-12-19 19:07] martindholmes commented on #14
Even weirder: if I take the exact execution line that Oxygen tells me it's running:

"/home/mholmes/Oxygen XML Editor 18/jre/bin/java" -Xmx256m -classpath "/home/mholmes/Oxygen XML Editor 18/tools/ant/lib/ant-launcher.jar" "-Dant.home=/home/mholmes/Oxygen XML Editor 18/tools/ant" org.apache.tools.ant.launch.Launcher -lib "/home/mholmes/Oxygen XML Editor 18/classes" -lib "/home/mholmes/Oxygen XML E

[2016-12-19 19:07] ebeshero commented on #14
I installed it yesterday afternoon (EST), before I'd read anything on the
list about it...I don't know if I've got the bleeding edge version or not.
Is there an easy way to tell?

E

On Mon, Dec 19, 2016 at 1:59 PM, James Cummings <notifications@github.com>
wrote:

--
Elisa Beshero-Bondar, PhD
Director, Center for the Digital Text | Associate Professor of English
University of Pittsburgh at Greens

[2016-12-19 19:07] hcayless commented on #14
Yeah, I just tried that too. Spooky. I think we need to get the Oxygen
folks in on this.

On Mon, Dec 19, 2016 at 2:07 PM, Martin Holmes <notifications@github.com>
wrote:

[2016-12-19 19:09] martindholmes commented on #14
@ebeshero If you go to the Help/Manage Add-ons window, you'll see whether you have "development build" or not. If you have it, then you're on the bleeding edge; if not, then you have the stable version. But I think the bug is there with both.

[2016-12-19 19:09] ebeshero commented on #14
Also, I'm definitely in oXygen 18.1 on this machine. I'll give Syriaca's
ODD a whirl. --E

On Mon, Dec 19, 2016 at 2:07 PM, Elisa Beshero-Bondar <ebb8@pitt.edu> wrote:

--
Elisa Beshero-Bondar, PhD
Director, Center for the Digital Text | Associate Professor of English
University of Pittsburgh at Greensburg | Humanities Division
150 Finoli Drive
Greensburg, PA  15601  USA
E-mail: ebb8@pitt.edu <ebb

[2016-12-19 19:11] martindholmes commented on #14
Oxygen reports the error as in odds/odd2relax.xsl line 409, which is in this block:

[code]

so I think it must be complaining about $current, for some reason...

[2016-12-19 19:17] ebeshero commented on #14
What I've got is the TEI P5 add-on, version 5.0.0 oXygen version 15.2+

And I've just run the Syriaca ODD and built RNG XML with no trouble here.

Elisa

On Mon, Dec 19, 2016 at 2:09 PM, Martin Holmes <notifications@github.com>
wrote:

--
Elisa Beshero-Bondar, PhD
Director, Center for the Digital Text | Associate Professor of English
University of Pittsburgh at Greensburg | Humanities Division
150

[2016-12-19 19:24] martindholmes commented on #14
@ebeshero You have the old version of the add-on, so we wouldn't expect to see the problem there.

[2016-12-19 19:24] martindholmes commented on #14
I've just found this:

https://saxonica.plan.io/issues/3069

I wonder if it's not our fault at all, just a weird Saxon bug. But why does it show up only when run in the Oxygen environment?

[2016-12-19 19:26] ebeshero commented on #14
! I know I installed it yesterday--maybe I did it on the Linux side of this machine...Let me check.

[2016-12-19 19:30] ebeshero commented on #14
Aha! Yes--the development is on my Linux machine. Running Syriaca now...

[2016-12-19 19:30] martindholmes commented on #14
I posted on the Oxygen forum:

https://www.oxygenxml.com/forum/topic13885.html

At this point I don't know what else to try.

[2016-12-19 19:35] ebeshero commented on #14
On the Linux machine with the development plugin, Ant transformation failed with the other patch. Same error, and presumably you've all been reproducing it too. Let me try one of my own ODDs over here.

[2016-12-19 19:37] ebeshero commented on #14
Nope-- definitely doesn't build my ODD either...

[2016-12-19 19:38] martindholmes commented on #14
The oddest thing is that I've been running ODD-to-relaxng transformations in my oxygen regularly with the bleeding-edge plugin, with no problems at all. This must be triggered by some very recent change to (presumably) odd2relax.xsl.

[2016-12-19 19:48] martindholmes commented on #14
@ebeshero Could you copy-paste the huge command that Oxygen is running (as in my post above) from the transformation output window and run it at the command line outside of Oxygen? On my system, that works without a hitch.

[2016-12-19 19:56] ebeshero commented on #14
Ahh! Trying to catch hold of it is the problem...There must be a way to grab it before it flies by? or pause it...

[2016-12-19 20:00] ebeshero commented on #14
Ok--I had time on the Syriaca build attempt, not my own smaller ODD. It's this, right?
[code]

[2016-12-19 20:02] martindholmes commented on #14
It's the line right after "Executing". That's a straight report of what Oxygen is calling to do the transformation:

"/home/lisa/Oxygen XML Editor 18/jre/bin/java" -Xmx256m -classpath "/home/lisa/Oxygen XML Editor 18/tools/ant/lib/ant-launcher.jar" "-Dant.home=/home/lisa/Oxygen XML Editor 18/tools/ant" org.apache.tools.ant.launch.Launcher -lib "/home/lisa/Oxygen XML Editor 18/classes" -lib "/home/

[2016-12-19 20:06] ebeshero commented on #14
Yep!  "BUILD SUCCESSFUL"

[2016-12-19 20:06] ebeshero commented on #14
So what gives?

[2016-12-19 20:11] martindholmes commented on #14
I have no clue. I just used Oxygen's own method of updating to Saxon 9.7, using their add-on:

https://www.oxygenxml.com/InstData/Addons/default/updateSite.xml

but the problem remains. However, if this is due to the Saxon bug linked above, that's probably what we would expect.
I'm now convinced this is the Saxon bug, but I don't know why it's only triggered in the Oxygen environment (@AlexJitianu

[2016-12-20 00:17] martindholmes commented on #14
This bit in the report from Saxon:

[code]

looks very odd to me. @slot="-999"? Did that somehow wrap around? Did it run out of some limited resource?

[2016-12-20 11:03] lb42 commented on #14
If the underlying problem is the saxon bug https://saxonica.plan.io/issues/3069  might it be worth seeing whether the circumvention proposed in that bug report works for us?

[2016-12-20 13:01] AlexJitianu commented on #14
Hi,

I managed to reproduce the issue with by using oxygen-tei-6.1.0 and I also see the different behavior between running the transformation in Oxygen and running it from the command line. I'll investigate some more. As a side note, I see that using Saxon 9.7 will make the transformation succeed.
The "ODD file to RelaxNG" transformation is an ANT transformation so the Oxygen Saxon 9.7 add-on has

[2016-12-20 13:28] AlexJitianu commented on #14
Hi,

When running the transformation from within Oxygen, Saxon will be licensed and because of that it will apply a number of optimizations. This is why is failing. When running the same command line outside Oxygen, Saxon will not be license (the Home Edition will be used) and so the optimizations will not be activated.

As a solution, I suggest making the "ODD file to RelaxNG" run with Saxon HE.

[2016-12-20 13:29] martindholmes commented on #14
Thanks @AlexJitianu. @lb42, I tried a bunch of variations on the proposed workaround in 3069 yesterday and nothing helped. This is a weird one, for sure.

[2016-12-20 13:39] martindholmes commented on #14
I've commented out oxygen.jar in the two Relax scenarios; that will run through the build process in due course and give us a new bleeding-edge version of the plugin we can test.

As a matter of principle, I think I'd be inclined to make all the transformations use Saxon HE if we can; we test them with that version outside of Oxygen.

[2016-12-20 13:46] martindholmes commented on #14
Just updated my plugin and it seems to work! Huge thanks to Alex. When I get to work, I'll test more carefully and if we're good, we can release the stable version again. We should test all ODD transformations, just to be sure.

[2016-12-20 14:20] lb42 commented on #14
As I noted before the tei to dtd conversion didnt seem to be a ffected , so lets hope the fixdoesnt break it!

[2016-12-20 14:25] hcayless commented on #14
DTD conversion is a completely different process, so hopefully it won't be a problem. Also doesn't do any namespace-prefix juggling (which is where the locus of the problem seemed to be).

[2016-12-20 16:18] martindholmes commented on #14
Update: still working on this. ODD to XSD was vulnerable too, of course, since it starts with RNG conversion. I've also hit a bug converting testcorpus.odd to PDF:

"Effective boolean value is not defined for a sequence of two or more items starting with a boolean"

in odd2odd.xsl line 336. That may be completely unrelated, of course.

[2016-12-20 16:38] martindholmes opened #15 "ODD to PDF conversions fail (maybe a Stylesheets issue?)"
Converting ODDs to PDF in Oxygen currently fails with the bleeding-edge plugin. Try:

TEI/P5/Test/testcorpus.odd

You get: "Effective boolean value is not defined for a sequence of two or more items starting with a boolean" in fo_figures.xsl line 336

Try:

TEI/P5/Test/relatedItem.odd

You get: "A sequence of more than one item is not allowed as the result of function tei:generateRefPrefix() ("rel

[2016-12-20 16:39] martindholmes commented on #14
ODD to DTD works fine, @lb42.

[2016-12-20 16:53] martindholmes commented on #14
@AlexJitianu, do the same optimizations apply to pure XSLT scenarios? The ODD to PDF transformation is failing, but it doesn't use ant. It doesn't seem to fail if I run it manually outside Oxygen.

[2016-12-20 22:05] lb42 commented on #15
I think this has been broken for quite a while. Certainly I noticed it before upgrading to the new framework. Line 336 of fo_figures.xsl  reads
[code]
which I think should probably be
[code]

[2016-12-20 22:48] lb42 commented on #15
... and yes, I can confirm both these errors are still there with oXygen 18.1 after having uninstalled the bleeding edge framework release (i.e. with no add ons).

[2016-12-20 23:06] lb42 commented on #15
I made the correction suggested above, and now it fails a bit further on, in a way that needs more knowledge of FOP than I have:

System ID: /home/lou/Public/TEI/P5/Exemplars/tei_bare.odd_xslt
Scenario: TEI ODD PDF
XML file: /home/lou/Public/TEI/P5/Exemplars/tei_bare.odd
XSL file: /home/lou/.com.oxygenxml/extensions/v18.1/frameworks/http___teijenkins.hcmc.uvic.ca_job_oxygen_tei_bleeding_lastSucces

[2016-12-20 23:15] lb42 commented on #15
BTW, converting an ordinary TEI document (e.g. Exemplars/simplePrint.tei) to PDF seems to work fine.

[2016-12-21 00:10] martindholmes commented on #15
This needs some careful attention. I do know FO, so I can take a look at it. I would dearly love to be able to replace the current LaTeX-based build of the Guidelines with an FO version, so this might be a good start into the process.

[2016-12-21 07:28] AlexJitianu commented on #14
Hi Martin,
For a pure XSLT scenario the transformer is configured right in the scenario. I see that for "ODD to PDF" the transformer is Saxon-PE. I switched to Saxon-HE but the transformation still failed. Saxon complains in *stylesheet\fo\fo_figures.xsl*, for "not(ancestor::tei:table/tei:match(@rend,'tight'))" (line 336), that "Effective boolean value is not defined for a sequence of two or more

[2016-12-21 13:32] martindholmes commented on #14
Thanks Alex. I think we do have a number of issues in the PDF transformation which are not caught in our regular testing, because the regular testing uses LaTeX to create PDFs rather than FOP. That's a failure of our testing setup. It seems that ODDs are rarely converted to PDFs in Oxygen, so nobody has ever reported the problem.

[2016-12-21 13:35] hcayless commented on #14
I'm not at all confident that the XSL:FO method *ever* worked for ODDs...

[2016-12-21 17:52] lb42 commented on #15
Following Alex's observation on another ticket, I got rid of the "fo_figures.xsl" error by changing the line in question to read
[code]
 but PDF generation still fails. The problem is now in the FO generation, which fails when processing a &lt;dataRef> that uses @name rather than @key. With the latter, the FO code generated includes a pointer to the TEI datatype definition; with the former it cann

[2016-12-21 18:10] lb42 commented on #15
Cf. Stylesheet bug https://github.com/TEIC/Stylesheets/issues/203

[2016-12-22 09:27] nathangibson commented on #14
Thanks to all who worked hard to correct this problem! I installed the new plugin and was able to do my conversion flawlessly now.

[2017-04-12 12:39] martindholmes opened #17 "Need to make validation sensitive to `TEI/@version`"
As we have increasing numbers of deprecations, the ability to specify `@version` on the `<TEI>` element and have Oxygen automatically pull the correct version of the schema against which to validate becomes more important. We need to figure out how to configure the document type to do this.

[2017-04-12 13:04] raducoravu commented on #17
But doesn't each TEI document have an xml-model PI point to its used schema?

If not you could have a base TEI-BASE document type association which has no association rules.
Then extend (there is an Extend button in the Document Type Associations page) that base framework and each extension adds a specific association rule base on that certain version attribute being a certain value and it would a

[2017-04-12 15:06] martindholmes commented on #17
You're right; I'm misreading the purpose of `@version` here. This ticket is nonsense. Too early in the morning, no coffee yet. :-)

[2017-04-12 15:06] #17 closed

[2017-07-21 15:58] martindholmes opened #18 "Build problem with latest Oxygen jar"
We're able to build the plugin successfully using the oxygen.jar version that's in this repo's lib folder (which is from April 2015), but trying to build it with a recent oxygen.jar causes errors as shown below. Are there changes we need to make to the plugin code to account for recent changes in Oxygen? What are the consequences of building the plugin with an old jar file?

[code]

[2017-07-21 16:03] martindholmes commented on #14
I'm closing this and I'll raise another issue to address the question of whether we should as a matter of course force the use of Saxon HE for all the TEI conversions.

[2017-07-21 16:03] #14 closed

[2017-07-21 16:07] martindholmes opened #19 "Should we switch all TEI plugin conversions to use only Saxon HE?"
In Issue #14, we discovered that an obscure bug was triggered by the use of one of the commercial versions of Saxon, combined with some optimizations which Oxygen provides for those versions. We worked around the bug by removing the oxygen.jar file from the additional libs in those transformations; this has the effect of making the transformation fall back to Saxon HE, which worked fine.

Since al

[2017-07-24 06:52] raducoravu commented on #19
As long as you are not using any Java extensions in the XSLTs indeed you can configure all the XSLT transformation scenarios to use Saxon HE.

[2017-07-24 06:53] raducoravu commented on #18
You also need an extra "oxygen-annotations.jar" library in the build class path. You should find it in the "OXYGEN_INSTALL_DIR\lib" folder.

[2017-07-24 16:46] martindholmes commented on #18
Is it OK to add that to the lib folder in this repo and update the oxygen.jar and saxon that's already there? It would be great to be able to build on headless machines that don't have Oxygen installed.

[2017-07-25 04:40] raducoravu commented on #18
Sure, no problem.
In the future (as another issue) an alternative would be to mavenize the project and base it on our Oxygen SDK:
https://www.oxygenxml.com/oxygen_sdk.html
If you are comfortable using Maven-based projects maybe my colleague @AlexJitianu could look into this when he finds some time.

[2017-07-26 00:52] martindholmes commented on #18
That would be an extra level of complexity from our point of view; each time we build a release, it tends to be a fresh person going through the process, so we try to keep the requirements as simple as possible.

[2017-07-26 01:18] hcayless commented on #18
Well, it would require some setup, but would make building (and maybe even deploying) it very easy. It might be worth looking into.

[2017-07-26 05:18] raducoravu commented on #18
So maybe on this issue we can update the JARs and we can open in the future a new issue to mavenize the framework project.

[2017-08-10 06:57] raducoravu opened #22 "New file template properties not generated correctly"
In the distributed TEI framework there are numerous file templates like:

         templates\TEI P5\All plus SVG and MathML.xml

and each of them has a ".properties" pair file like "All plus SVG and MathML.properties" which in this case contains:

			<?xml version="1.0" encoding="UTF-8"?>
			smallIcon=../icons/TEI_16.gif
			bigIcon=../icons/TEI_48.png

These properties files seem to be created aut

[2017-08-10 14:10] martindholmes commented on #22
Thanks Radu. Please feel free to make this change, or assign it to me.

[2017-08-11 05:11] raducoravu commented on #22
I looked a little bit but I did not find where the XSLT stylesheet which generates the properties files is. Is it in this project or somewhere in the set of resources downloaded from sourceforge?

[2017-08-11 06:44] AlexJitianu commented on #22
The templates are copied from https://sourceforge.net/projects/tei/files/TEI-P5-all/tei-3.2.0.zip . They are located in the directory "xml/tei/custom/templates". This means that they are generated in the project from which tei-3.2.0.zip is built.

[2017-08-11 10:51] martindholmes commented on #22
Sorry, yes. That's my job, then. I'll raise a ticket on the TEI repo.

[2017-08-29 15:32] sydb opened #23 "framework should include ODD to Schematron"
Currently there is no transformation scenario that produces Schematron from an ODD (using `extract-isosch.xsl`). There should be.

[2018-06-05 12:47] AlexJitianu opened #27 "Update the framework file and Java source files in sync with Oxygen 20"
Hi,

Certain TEI features introduced in new versions of Oxygen, for example the Image Map support, require some Java custom code that uses certain newly added Java API. Because this addon is marked as being compatible with Oxygen version 15.1, I haven't committed those new extensions into this project . As a result, right now, if you install this addon, you lose features (like the Image Map).

We

[2018-06-05 15:21] martindholmes commented on #27
@AlexJitianu Could you outline the options for us? Would we have to update the compatibility of the add-on to Oxygen 20? One reason (among others) that we provide the add-on is to enable people who can't afford to keep their Oxygen license completely up to date to continue to update their TEI codebase.

[2018-06-06 12:56] AlexJitianu commented on #27
How about if we keep the master branch as the one compatible with older versions of Oxygen. I already created a branch named _oxygen_integration_ on which I commit the latest Java code. I will take care to create tags (or branches) every time we make an Oxygen release.

Your release script will create builds for each of these tags ad build an http://www.tei-c.org/release/oxygen/updateSite.oxygen t

[2018-06-06 18:58] martindholmes commented on #27
That sounds like a great idea. I'll me run it past the Council. To make sure I'm understanding correctly, this would be what we do:

1. The master branch always stays up to date with the latest Oxygen codebase.
2. For each new Oxygen release, a tag is created.
3. We build separate versions using the master and the tag versions, each version aimed at a specific version of Oxygen.
4. Our update file

[2018-06-07 13:57] AlexJitianu commented on #27
Yes. Although I was referring to the _oxygen_integration_ branch we can do it with the _master_ branch as well. If I commit the latest Oxygen codebase on _master_ then master becomes sort of a _dev_. But we could:
1. Tag the master branch as it is now as being compatible with version 15.2+.
2. Push the latest Oxygen codebase and tag it as being compatible with Oxygen version 20.
3. Repeat for ever

[2018-06-07 15:46] martindholmes commented on #27
Best not to make master into a sort of dev. :-)

Here's another shot, then:

1. Make a tag of the current master as 15.2 (so master can be moved forward later without confusion).

2. Create tags for each significant Oxygen version change which may prevent an older version from installing the plugin, or will impact its behaviour.

3. Build stable versions of the plugin for release based on each of

[2018-06-08 06:48] AlexJitianu commented on #27
Sounds good. Might be better not to put the "bleeding edge" release into the add-on, though. If we do add it, the people running the latest Oxygen version will always be prompted to install that version instead on the stable one.

[2018-06-08 15:52] martindholmes commented on #27
We have a separate update file for the bleeding-edge release; it's only a few Council folks, me and a couple of other developers who use it.

[2018-06-08 16:07] martindholmes commented on #27
One quick question: presumably in order to build these different versions of the plugin, we'll need to be building with different versions of the Oxygen jar file. Is that right?

[2018-06-11 05:17] AlexJitianu commented on #27
Yes, that's true but the good news is that all these versions are available in our Maven repository: https://www.oxygenxml.com/maven/com/oxygenxml/oxygen/

[2018-09-10 10:38] rvdb opened #28 "can't install / update TEI framework in Oxygen due to server error (bits.nsms.ox.ac.uk:8080)"
I can't update / install any of the tei-oxygen plugin frameworks from the Jenkins server (either stable or bleeding). A "connection reset" error is thrown when Oxygen is attempting to download the zip file mentioned in the update file (e.g. http://bits.nsms.ox.ac.uk:8080/job/oxygen-tei-bleeding/85/artifact/oxygen-tei/oxygen-tei-3.5.0a-7.46.0a-2018-09-08-074610.zip).

There seems to be a problem wi

[2018-09-10 12:39] martindholmes commented on #28
The Oxford server has been out of commission for a long time now. You can get the bleeding-edge plugin from:

https://teijenkins.hcmc.uvic.ca/job/oxygen-tei-bleeding/lastSuccessfulBuild/artifact/oxygen-tei/updateSite.oxygen

or from:

https://jenkins.tei-c.org/job/oxygen-tei-bleeding/lastSuccessfulBuild/artifact/oxygen-tei/updateSite.oxygen

[2018-09-10 12:47] rvdb commented on #28
Hi @martindholmes , I am using the update file at jenkins.tei-c.org you've mentioned. Yet, inside that file, the zip file locations are specified as:

    <xt:extension xmlns:local="http://teijenkins.hcmc.uvic.ca/ns" id="tei">
      <xt:location href="http://bits.nsms.ox.ac.uk:8080/job/oxygen-tei-bleeding/93/artifact/oxygen-tei/oxygen-tei-3.5.0a-7.46.0a-2018-09-10-071743.zip"/>
      <xt:version>3

[2018-09-10 13:04] jamescummings commented on #28
Eek! No. You certainly shouldn't have that referencing bits.nsms.ox  ... in fact anything referencing ox.ac.uk as serving up TEIC  things should certainly be wiped. That should could meant to be pointing at the last successful version artifact or something?

[2018-09-10 13:06] rvdb commented on #28
Ah, ok. I see now that there's a difference between both files:

- the update file at the Uvic server points to the same server for fetching the zip files:

    <xt:extension xmlns:local="http://teijenkins.hcmc.uvic.ca/ns" id="tei">
      <xt:location href="http://teijenkins.hcmc.uvic.ca/job/oxygen-tei-bleeding/21/artifact/oxygen-tei/oxygen-tei-3.5.0a-7.46.0a-2018-09-10-013340.zip"/>
      <xt:ver

[2018-09-10 13:15] rvdb commented on #28
P.S.: note the different version numbers both files mention for the latest build of the extension, too...

[2018-09-10 13:41] martindholmes commented on #28
This is partly the result of my server going down the other week, and @peterstadler's being promoted to jenkins.tei-c.org. We'll need to revisit the build file for the oxygen-tei plugin; I think it was originally written when only my Jenkins and the Oxford one existed. Stick with mine for the moment, till we get that fixed.

The version numbers will always be a bit different; they're based on Jenk

[2018-09-10 14:09] rvdb commented on #28
Ok, thanks for clarifying, Martin.

[2018-10-12 16:12] martindholmes opened #29 "Framework build should not remove comments from templates"
Our templates are generated from these files:

P5/Exemplars/*.template

Each one of those files ends up in the plugin as:

..tei/templates/TEI P5/*.xml
..tei/templates/TEI JTEI/*.xml

and so on. In the process of being converted to those XML files, all comments are discarded. They should not be; they provide useful prompts for how to use the template and how to complete bits of the XML. It would b

[2018-10-12 16:42] martindholmes commented on #29
Closing this because it's actually a bug in the TEI build process; the comments are stripped during our distribution build. Will raise the bug there.

[2018-10-12 16:42] #29 closed

[2018-11-06 12:11] rvdb commented on #28
This seems to have been solved now: https://jenkins.tei-c.org/job/oxygen-tei-bleeding/lastSuccessfulBuild/artifact/oxygen-tei/updateSite.oxygen now points to the correct download location at the jenkins.tei-c.org server. Thanks for fixing!

[2018-11-06 12:11] #28 closed

[2019-02-27 15:48] rvdb opened #30 "TEI Ant transformations fail with classpath errors in Oxygen-21.0"
ANT transformation scenarios in the TEI-bleeding framework don't work in Oxygen-21.0, due to classpath errors. For example, the "TEI P5 ODT" Ant transformation scenario throws following error:

    Executing:
    "c:\program files\oxygen xml editor 21\jre/bin/java" -Dfile.encoding=UTF-8 -Xmx256m -classpath "C:\Program Files\Oxygen XML Editor 21\tools\ant/lib/ant-launcher.jar" "-Dant.home=C:\Progra

[2019-02-27 15:51] lb42 commented on #30
The announcement for release 21 says "The TEI Schemas bundled with Oxygen 21 were updated to version 3.5 and the TEI Stylesheets were updated to version 7.47. " so they must have changed something somewhere. (I can't test it myself because my current licence -- for oxygen 17 --  doesn't work with release 21 :-()

[2019-02-27 16:16] rvdb commented on #30
Ah, thanks for the pointer, @lb42 . The shipped TEI transformations do work; lots of its classpath entries have been modified with wildcards, so things have been updated somewhere. Checking the github repo, this seems to have happened in the [`oxygen_integration`](https://github.com/TEIC/oxygen-tei/tree/oxygen_integration) branch.

Shouldn't those changes be reflected in the [`oxygen-tei-bleeding`

[2019-02-27 16:33] lb42 commented on #30
Yes. Especially since odd2odd doesn't work properly without the bleeding edge framework, even after upgrading to release 21 (my comment above about the licence notwithstanding -- I do have a valid licence!)

[2019-02-27 17:24] martindholmes commented on #30
Council has an action for one of them to talk to Radu (I think) about the best way to move the plugin forward while simultaneously maintaining backward compatibility for old versions of Oxygen. It's complicated. It would be trivial to abandon old versions of Oxygen, but the general consensus is that one reason for the plugin is to maintain the ability to update TEI resources even when people can't

[2019-02-27 17:27] lb42 commented on #30
I am confused. I thought the whole point of having a "bleeding edge" framework is that it *is* in touch with the bleeding edge (ouch) -- so expecting it also to be backwards compatible seems rather strange.

[2019-02-28 06:39] raducoravu commented on #30
We keep changes the name of the JAR libraries in the Oxygen "lib" folder so ant-based transformation scenarios need to be changed and the library references updated.
As @rvdb said, comparing the ".framework" files between the two branches should show how the library references changed. With enough library references added the transformation scenario can be made to work with both older and newer ve

[2019-02-28 11:31] rvdb commented on #30
I can confirm that if the "bleeding edge" framework files (currently in the `master` branch) are replaced with the ones in the
[`oxygen_integration`](https://github.com/TEIC/oxygen-tei/tree/oxygen_integration/oxygen-tei/frameworks/tei) branch, the "jTEI PDF" transformation mentioned in my first post does work in Oxygen-16.1 up to Oxygen-21.0.

The "TEI P5 ODT" and "jTEI ODT" transformations still

[2019-05-07 19:31] ebeshero opened #32 "Testing oXygen tei plugin"
@martindholmes Hi Martin! I suspect my issue is a fluke, because it's working for others with the current version of oXygen.  I'm using oXygen version 21, and having troubles with oXygen TEI plugins generally lately. Here's a screen capture of what happens when I try to test either of the two bleeding edge plugins you just updated:

<img width="828" alt="Screenshot 2019-05-07 15 27 41" src="https:

[2019-05-07 19:33] martindholmes commented on #32
@ebeshero Is it possible that you have another version of the plugin installed already? That's the only thing I can think of. If so, try uninstalling all previous versions of the plugin from Help/Manage Add-ons. I've never seen that message before.

[2019-05-07 19:36] ebeshero commented on #32
@martindholmes I'm trying that now...I've had this issue I think for at least a month now that I've noticed...

[2019-05-07 19:40] ebeshero commented on #32
I see I have lots of different plugins for for TEI installed...I'm going to delete most of them, but hunting for the canonical locations I should be using...

[2019-05-07 19:42] martindholmes commented on #32
I'm surprised you were able to install more than one version of the same plugin.

[2019-05-07 19:55] ebeshero commented on #32
@martindholmes I deleted a bunch of old plugins--I must have been testing a bunch of these in the past year or two. Hmm. Your new bleeding-edge plugin is happily installing now...so far so good!

[2019-05-07 20:00] ebeshero commented on #32
Okay: The bleeding edge plugin from here <https://jenkins.tei-c.org/job/oxygen-tei-bleeding/lastSuccessfulBuild/artifact/oxygen-tei/updateSite.oxygen>, installed just fine.

But not-so-okay--when I tried this one: <https://teijenkins.hcmc.uvic.ca/job/oxygen-tei-bleeding/lastSuccessfulBuild/artifact/oxygen-tei/updateSite.oxygen>, it didn't fully install, and I saw an error to do with "premature end

[2019-05-07 20:05] martindholmes commented on #32
You uninstalled the other one first, right?

[2019-05-07 20:08] ebeshero commented on #32
Yep. teijenkins was the first one I tried--didn't fully install. Tried the other and it worked. Uninstalled it and went back to teijenkins, and now seems to work. So okay--all is well! :-) I'll go try something with the plugin now.

[2019-05-07 20:31] martindholmes commented on #32
I'll close this, then, and if you find any specific bugs in the functionality, you can raise tickets for them. Thanks for testing!

[2019-05-07 20:31] #32 closed

[2019-09-27 08:00] AlexJitianu opened #35 "Update la fontbox due to vulnerability issues"
The library in question is `tei/xml/tei/jtei_aux/trans/pdf/lib/fontbox-2.0.8.jar` and presents this vulnerability:
https://www.cvedetails.com/cve/CVE-2018-8036/

If we update it to 2.0.10 or later would sove this issue.

[2019-10-09 09:13] raducoravu opened #36 "Update add-on to TEI 3.6.0 schemas"
One of our common end users would want to edit in Oxygen using the TEI 3.6.0 schemas:
https://www.oxygenxml.com/forum/post55711.html#p55711

[2019-10-25 06:14] raducoravu commented on #30
👍  one more report here:
https://www.oxygenxml.com/forum/viewtopic.php?f=22&t=20820

[2019-10-29 10:35] djbpitt commented on #30
Bitten by this error (21.1, build 2019101513, MacOS), I followed the advice at Radu's link above (https://www.oxygenxml.com/forum/viewtopic.php?f=22&t=20820) to "Uninstall the add-on (Help->Manage add-ons) and use Oxygen's default bundled TEI framework support." ODD-to-Relax NG Compact nonetheless errors out with the messages below. For what it's worth, generating XHTML documentation works as expe

[2019-10-29 13:18] raducoravu commented on #30
@djbpitt I can reproduce the problem on the ODD file downloaded from:
https://raw.githubusercontent.com/djbpitt/repertorium/master/tei_ms_repertorium.odd
The XSLT stylesheet "OXYGEN_INSTALL_DIR\frameworks\tei\xml\tei\stylesheet\odds\odd2odd.xsl" uses the doc-available method to see if a remote XML document is accessible:

http://www.tei-c.org/Vault/P5/3.2.0/xml/tei/odd/p5subset.xml

but the link i

[2019-10-29 13:26] djbpitt commented on #30
@raducoravu Thank you. I can confirm that changing the parameter in the _odd2odd.xsl_ file as you suggest fixes the problem. I'll open a separate issue, as you propose.

[2019-10-29 13:28] djbpitt opened #37 "TEI odd2odd.xsl cannot follow redirect from http to https"
@djbpitt I can reproduce the problem on the ODD file downloaded from:
https://raw.githubusercontent.com/djbpitt/repertorium/master/tei_ms_repertorium.odd
The XSLT stylesheet "OXYGEN_INSTALL_DIR\frameworks\tei\xml\tei\stylesheet\odds\odd2odd.xsl" uses the doc-available method to see if a remote XML document is accessible:

http://www.tei-c.org/Vault/P5/3.2.0/xml/tei/odd/p5subset.xml

but the link i

[2019-10-29 13:29] djbpitt commented on #37
@raducoravu Opening separate issue for TEI stylesheet problem described above. Thanks again!

[2019-10-29 16:15] martindholmes commented on #37
The Stylesheets repo has already been updated to handle this in some cases, but doesn't seem to have been updated in others. I'll raise this as a Stylesheets bug.

[2019-11-05 11:20] eduarddrenth opened #38 "pb facs images"
the TEI pb can have a ```@facs``` for a page facsimile, used by default in teipublisher for example.

This css can be added as an alternate stylesheet in author mode to show these facsimiles:
[code]
Wanted to create a PR but couldn't find exactly where to place this css and how to configure it as an alternate stylesheet.

[2019-12-03 14:23] martindholmes opened #39 "TEI Customization for writing TEI Customizations needs to be in the ODD framework"
@sydb's excellent tei_customization.odd exemplar shows up as an option in the TEI P5 framework, but it also needs to be in the P5 ODD framework. Not sure exactly how to do that.

[2019-12-05 22:16] martindholmes commented on #39
I've fixed this in commit 53f1d18.

Background: The way the three frameworks get constructed involves this bit of the build file:

https://github.com/TEIC/oxygen-tei/blob/53f1d1835f910a1941f8621507704c09bd69a388/oxygen-tei/build.xml#L146

where first, all the document templates are copied into the TEI P5 framework, and then appropriate subsets of them are copied into the TEI JTEI and TEI ODD frame

[2019-12-05 22:16] #39 closed

[2020-01-24 09:46] bwbohl commented on #36
I second this request!
It would be very nice if there was an update of the framework available, whenever there is a new release of https://github.com/TEIC/TEI or https://github.com/TEIC/Stylesheets

Thanks!

[2020-04-21 19:34] bwbohl opened #42 "Release 11.0 missing from oXygen update site"
The latest Release unfortunately is missing from the TEI-C oXygen update site. It's a bit awkward as the release info page (https://www.tei-c.org/release/doc/tei-p5-doc/readme-4.0.0.html) includes a hint that

Which again https://www.tei-c.org/release/oxygen/updateSite.oxygen, that doesn't reference the latest release though :-/

[2020-04-21 19:35] bwbohl commented on #42
cf. #31

[2020-04-28 13:14] bwbohl opened #43 "oXygen ImageMap Editor actions missing"
Since v18 oXygen XML Editor ships with integrated imageMap Editor functionality (cf. https://www.oxygenxml.com/doc/versions/18/ug-editor/topics/image-map-tei.html). The corresponding Author Actions are available form the TEI framework shipping with oXygen; unfortunately the are missing from the framework maintained in this repo.

[2020-04-29 06:57] AlexJitianu commented on #43
Those actions use a new API that was introduced in Oxygen version 18. The TEI framework built in this repository wants to maintain a compatibility with older versions of Oxygen. At that time it was 15.2+, and committing those actions would have led to exceptions in those older version, as the required API was missing.

Looking inside https://tei-c.org/release/oxygen/updateSite.oxygen , I see that

[2020-04-29 14:22] martindholmes commented on #43
@AlexJitianu Please go ahead and do that. We decided that it's not practical or beneficial to try to maintain backwards compatibility indefinitely.

[2020-06-05 12:54] skurzinz commented on #30
I can confirm that in the case of the TEI P5 DOCX scenario that I just wanted to apply, changing

does work in a copied scenario using Oxygen 22.1 and the latest oxygen-tei framework installed as an add-on.

Thanks for documenting this issue here, especially thx to @raducoravu for pointing in the right direction with changed classpaths within Oxygen.

[2020-06-05 14:59] martindholmes commented on #30
I believe there are no more instances of

    `<String>${oxygenHome}/lib/log4j.jar</String>`

in the oxygen-tei repo; they've all been changed to:

    `<String>${oxygenHome}/lib/*log4j*.jar</String>`

(with two asterisks rather than one). So I assume this is fixed in the bleeding-edge version of the plugin, and will be fixed in the next release of the stable plugin and the next release of Oxygen.

[2020-06-09 06:18] raducoravu commented on #30
My colleague @AlexJitianu added the wildcards in this pull request from what I remember: https://github.com/TEIC/oxygen-tei/pull/41

[2020-06-09 14:35] martindholmes commented on #30
@rvdb Can you confirm we can close this now, or is there still something that needs to be fixed?

[2020-06-12 13:01] rvdb commented on #30
@martindholmes I think this is looking good.

[2020-06-12 13:03] #30 closed

[2020-08-10 11:14] bwbohl commented on #43
any progress on this?

[2020-08-13 06:44] AlexJitianu commented on #43
Hi,

1. I've integrated Oxygen 18.1 resources into a new branch: https://github.com/TEIC/oxygen-tei/tree/oxygen_18_update
1. After we test it internally to make sure everything it's O.K., I will make a _Pull request_.
1. Although the add-on says the compatible version is 18.0+, I chose to update to Oxygen 18.1 because anyone using 18.0 has the legal right to use 18.1 and there's no point in missin

[2020-08-13 08:35] bwbohl commented on #43
great news, I will try it, too!

[2020-08-13 14:17] martindholmes commented on #43
Thanks Alex! Absolutely fine with 18.1.

[2020-08-17 14:57] martindholmes commented on #43
@AlexJitianu I've merged the pull request, but our build is now showing lots of instances of this error:

    [javac] /var/lib/jenkins/jobs/oxygen-tei-stable/workspace/oxygen-tei/frameworks/tei/src/ro/sync/ecss/extensions/commons/AbstractDocumentTypeHelper.java:53: error: package ro.sync.annotations.api does not exist
    [javac] import ro.sync.annotations.api.API;
    [javac]

What do we need to

[2020-08-18 05:35] AlexJitianu commented on #43
@martindholmes , it is an additional jar file, `oxygen-annotations-18.1.0.3.jar`. In my Jenkins build I get these jars like this:

[code]

[2020-08-18 14:26] martindholmes commented on #43
@AlexJitianu If we go the same route, we'll have to update the build every time the versions of those files change, won't we? Is there a more robust way to do this?

[2020-08-19 07:31] AlexJitianu commented on #43
@martindholmes Right now you commit oxygen.jar inside the git project itself. It's still an additional step. It is recommended to take these jars from our Maven repository instead of making copies into the project.
We could make this a Maven project and the dependencies will be downloaded automatically, but perhaps we should add a new issue for this.

[2020-08-19 14:27] martindholmes commented on #43
@AlexJitianu The way I've rewritten it, those jars are pulled from the maven repo manually. I guess we would only have to change those version numbers if/when we decide to move our old-version-support forward to a more recent version, which would be a conscious decision, so that should be fine. I should probably remove the old oxygen.jar from the repo entirely, but I'll wait till after today's rel

[2021-02-10 15:56] rvdb opened #45 "jTEI PDF transformation fails with "ERROR StatusLogger Could not register mbeans""
It seems the `jTEI PDF` transformation is broken in Oxygen 23 and 22. On my machine (Windows 10, OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_232-b09)), it produces following error:

    transform-fo:
       [delete] Deleting: F:\jTEI\trunk\submissions\jtei-test-pdf.fo
         [java] ERROR StatusLogger Could not register mbeans
         [java]  java.security.AccessControlException: acce

[2021-02-10 16:03] martindholmes commented on #45
@rvdb Confirmed, I see the same error. Lots of references to this on the Internets, and it seems to be a security policy issue; perhaps the Oxygen folks can help? I'll post in their forum.

[2021-02-11 10:41] rvdb commented on #45
Hi @martindholmes , thanks for your help. Meanwhile, I think I have found a solution (that's working on my machine, anyway). Could you try if it works when you add `@fork="true"` and `@clonevm="true"` to the `<java>` task?

    <target name="transform-fo">
      <delete file="${cfd}/${dest.file.basename}.fo"/>
      <java classname="net.sf.saxon.Transform" fork="true" clonevm="true">
        <arg

[2021-02-11 11:39] AlexJitianu commented on #45
Hello,

First of all, the exception is harmless. If you take a look at [org.apache.logging.log4j.core.jmx.Server.reregisterMBeansAfterReconfigure(MBeanServer)](https://logging.apache.org/log4j/2.x/log4j-core/apidocs/src-html/org/apache/logging/log4j/core/jmx/Server.html), you'll notice how it catches the exception, logs it, and moves forward without JMX support. The [log4j JMX support](https://log

[2021-02-11 11:48] AlexJitianu commented on #45
Alternatively, one could set the system property in the build file, but I'm not sure if that's the best approach since the issue only appears in Oxygen.
[code]

[2021-02-11 12:32] rvdb commented on #45
Many thanks, @AlexJitianu : adding the JVM argument does work. I've created a PR which adds this argument to both jTEI ANT transformations.

[2021-02-11 16:12] #45 closed

[2021-03-04 10:04] bwbohl opened #47 "add license"
This repo is missing a license, please add for clarity.

[2021-03-04 17:17] martindholmes commented on #47
@hcayless @martinascholger @sydb @AlexJitianu  Do you see any reason not to add a (slightly adapted) version of the BSD licence that Hugh recently added to the TEI repo? Are there any components in this repo that the Oxygen folks might have some concern about?

[2021-03-08 09:09] AlexJitianu commented on #47
I will check with our legal department and get back with the conclusion.

[2021-03-08 10:27] AlexJitianu commented on #43
@martindholmes , I think you forgot to remove `oxygen.jar` form the lib folder. While you're at it, I believe you can also remove `apiSrc.zip`. It was added there in the beginning, before we began publishing our SDK on Maven and it looks like it was never updated.

[2021-03-08 15:29] martindholmes commented on #43
Should be done now.

[2021-03-11 23:50] rvdb opened #48 "logging is suppressed in latest Oxygen for tasks called via ANT targets"
I've noticed how logging for the jTEI ANT transformation scenarios seems to have changed after Oxygen-20. Up to that version, logging was controlled with the file at https://github.com/TEIC/oxygen-tei/blob/83fe28a11fac160fba348dce57b58c8fe92f7756/oxygen-tei/frameworks/tei/xml/tei/jtei_aux/trans/log4j.properties. When calling a FOP transformation from a target in an ANT build file, this would catch

[2021-03-12 09:43] DunaMariusCosmin commented on #48
Hi,
In Oxygen, we use the Apache Log4j library for logging. Starting with version 22.1, we updated this library to version 2.  Log4j2 searches for a configuration file with the name "log4j2" and has a different configuration syntax: https://logging.apache.org/log4j/2.x/manual/configuration.html

I added a pull request (https://github.com/TEIC/oxygen-tei/pull/49) with this new configuration file. S

[2021-03-12 10:24] rvdb commented on #48
Thanks for clarifying, @DunaMariusCosmin . I've tested with the new properties file, but that doesn't make any difference in Oxygen-22+ (even when setting log level to "all"). I tried by explicitly declaring the properties file via the `-Dlog4j2.configuration` command line argument for the ANT task, but that didn't help either. Do you have an idea what else could be wrong?

Best,

Ron

[2021-03-12 12:36] DunaMariusCosmin commented on #48
I think I found another problem. Please, add this element "<String>${framework(TEI P5)}/xml/tei/jtei_aux/trans/</String>" in the "transform-pdf" scenario from the "teip5jtei.framework" file, as I made in this commit: https://github.com/TEIC/oxygen-tei/pull/49/commits/7d937cf12debe2d38f200a010a74bfd682ea3dde

[2021-03-12 14:01] rvdb commented on #48
Many thanks for your quick help, @DunaMariusCosmin , that seems to fix it! In order to get meaningful FOP output, the log level should be set to `WARN`; I've added that as a comment to your first commit, perhaps it's best to change that in your commit before merging (Git is not my area of expertise).

[2021-04-16 16:22] martindholmes opened #50 "Can't build with recent Java versions"
Currently building the TEI framework successfully can only be done by switching to Java 1.8, or by swapping out a bunch of jars. We need to check with the Oxygen folks about whether it's possible to build with current Java versions (most of us are running 14 now), and if so, what we need to change to make that happen.

[2021-04-16 18:17] martindholmes commented on #42
We are at #14 now, so I don't think this is relevant.

[2021-04-16 18:17] #42 closed

[2021-04-16 18:18] martindholmes commented on #36
This has been available for a long time now. See the readme:
https://github.com/TEIC/oxygen-tei/blob/master/oxygen-tei-plugin.md

[2021-04-16 18:19] #36 closed

[2021-04-16 18:21] martindholmes commented on #3
@sydb, @hcayless and I believe this is now irrelevant.

[2021-04-16 18:21] #3 closed

[2021-04-16 18:22] martindholmes commented on #4
This is out of date.

[2021-04-16 18:22] #4 closed

[2021-04-16 18:23] #18 closed

[2021-04-17 21:30] wujastyk opened #51 "Can't add TEI add-in to oXygen 22.1"
Following the instructions at https://github.com/TEIC/oxygen-tei/blob/master/oxygen-tei-plugin.md , I get:

![image](https://user-images.githubusercontent.com/762246/115127171-b6bf5980-9f91-11eb-8a79-af0658a9d7f9.png)

[code]

[2021-04-17 21:46] sydb commented on #51
Ack!!

Thank you for the bug report. I am pretty sure, despite the horrific looking message, that this just boils down to the file https://github.com/TEIC/oxygen-tei/releases/download/oxygen-tei-4.2.2-7.51.2.zip being missing. _Why_ it is missing is another story.

I also notice that the updateSite file has an incorrect description for this release, but that is both another issue and a minor one.

[2021-04-17 22:16] martindholmes commented on #51
I think this is caused by changes to the structure of the folders on the TEI server, I think. But @sydb there's no point in assigning it to me because I don't have login privileges on that server. I would suggest that someone who does just go in and fix that update file, and point at what the GitHub URL has become:

https://github.com/TEIC/oxygen-tei/releases/download/v14.0.0/oxygen-tei-4.2.2-7.51

[2021-04-17 22:31] martindholmes commented on #51
I've updated the XSLT to include the version number in the URL. But there is an additional problem which I think was caused by someone manually editing the updateSite.oxygen file at some point. The description element originally contained a generic description without any version information, and the XSLT just copied that from one release to the next. But at some point, the versions of TEI and Sty

[2021-04-17 22:35] hcayless commented on #51
I've fixed the immediate problem by updating the URL and tested it by updating my Oxygen plugin locally. Checking the XSLT now.

[2021-04-17 22:36] martindholmes commented on #51
@hcayless I've fixed the XSLT in the last couple of commits. If you can test, that would be great.

[2021-04-17 22:44] hcayless commented on #51
@martindholmes you missed the 'v' before the tag name :-). Should work now.

[2021-04-17 22:44] #51 closed

[2021-04-17 22:45] sydb commented on #51
Thank you, gentlemen.

[2021-04-17 22:45] martindholmes commented on #51
@hcayless Yes, just finally discovered that myself -- old home computer took ages to build it. Thanks for the fix. I think we're good now, no?

[2021-04-18 21:32] wujastyk commented on #51
Now works fine for me.  Thank you everyone!

[2021-04-19 03:55] raducoravu commented on #50
The main Oxygen application is still compiled to run with Java 1.8 or newer. If the Java content of the add-on does not have Java 9 or newer features used in it, you can try to use the "javac" with the "--release 8" flag maybe to force compilation with Java 8 compatibility but use the compiler from a newer hava version:
https://docs.oracle.com/en/java/javase/15/docs/specs/man/javac.html

[2021-04-19 15:29] martindholmes commented on #50
@raducoravu Thanks indeed -- that seems to work fine with Java 14. I've added the flag in the frameworks build file. This will get propagated to our bleeding-edge test version today, so it'll be well tested in the next couple of weeks. The jar is very slightly larger built with a later javac, but that's not unusual. I'll close this if I don't see any problems in my own testing over the next couple

[2021-04-25 20:13] bwbohl commented on #42
and all previous releases seem to be there, too. Thanks!

[2021-08-09 07:07] martinascholger commented on #50
@martindholmes: can we close the ticket?

[2021-08-09 18:32] martindholmes commented on #50
@martinascholger Yes, sorry, I forgot to come back to it.

[2021-08-09 18:32] #50 closed

[2021-09-27 15:16] martindholmes commented on #47
@AlexJitianu Any progress on this?

[2021-09-27 15:18] martindholmes commented on #48
I've merged the commit, but I haven't done anything about the need for the comment; I'll leave that to @DunaMariusCosmin.

[2021-09-27 15:19] martindholmes commented on #43
I think this can be closed now.

[2021-09-27 15:19] #43 closed

[2021-09-27 15:21] martindholmes commented on #37
@djbpitt I believe this has been handled by Stylesheets changes; could you confirm?

[2021-09-27 15:25] martindholmes commented on #22
I believe this is all fixed now; current versions of the templates do not have the XML declarations.

[2021-09-27 15:25] #22 closed

[2021-09-27 16:11] martindholmes commented on #19
@raducoravu I see in src/ro/sync/ecss/extensions/common/operations/XQueryOperation.java:

`return authorAccess.getXMLUtilAccess().createXQueryTransformer(xquerySrc, null, AuthorXMLUtilAccess.TRANSFORMER_SAXON_PROFESSIONAL_EDITION, false);`

If I replace this with:

`return authorAccess.getXMLUtilAccess().createXQueryTransformer(xquerySrc, null, AuthorXMLUtilAccess.TRANSFORMER_SAXON_HOME_EDITION, f

[2021-09-28 04:11] raducoravu commented on #19
@martindholmes XQuery operations require Saxon enterprise edition, so changing to TRANSFORMER_SAXON_HOME_EDITION will make the operation not work (although the operation is not used from what I remember anywhere in the TEI framework custom actions).

I think this entire Java package can be removed from the TEI framework JAR and from the repository:
https://github.com/TEIC/oxygen-tei/tree/master/ox

[2021-09-28 06:09] raducoravu commented on #19
@AlexJitianu signaled to me we have two default Author operations, an XQUeryUpdateOperation (which absolutely requires Saxon EE) and an XQueryOperation which works with Saxon HE but it depends on the XQuery script really, as the script might contain constructs which work only with EE and not with HE. The TEI framework does not use (yet) any of these operations for TEI specific actions so it does n

[2021-09-28 15:05] martindholmes commented on #19
Thank indeed @raducoravu. I'll leave everything alone for the moment, then!

[2021-09-28 15:05] #19 closed

[2021-09-30 07:43] AlexJitianu commented on #47
I asked the legal department on the status of this issue. Hopefully, I'll get a response soon.

[2021-09-30 07:56] DunaMariusCosmin commented on #48
I think we can set the level by default to "WARN". I made a pull request.

[2021-09-30 17:02] martindholmes commented on #48
Thank you @DunaMariusCosmin ! I think we can close this now.

[2021-09-30 17:02] #48 closed

[2021-10-04 14:06] AlexJitianu commented on #47
We consider that the New BSD license that is already used on other TEI repository to be a good fit for this project as well. There is one mention, though. In this repository there are libraries (og4j , saxon9he.jar, eclipse-related) that have other types of licenses (Apache, MPL2.0, EPL 1.0) and must be specified as third-party libraries. Considering this, we could try creating a Maven project tha

[2022-02-07 16:52] sydb opened #53 "outputput into out/ is a bad idea"
(See /TEIC/Stylesheets/issues/201, which has been closed and divided up into this ticket and /TEIC/Stylesheets/issues/543.)

When run in the oXygen Framework, the output of the Stylesheets goes into a (perhaps newly-created) directory called `out/`. (But they do not have the file naming problems mentioned in #543.) This is silly, the outputs should be put into the same directory as the input, just

[2022-03-18 17:54] martindholmes opened #54 "Oxygen 24.1 breaks transforms because we have Saxon 9 hard-coded"
Many of the standard transformations defined in our frameworks have:

`<String>${oxygenHome}/lib/*saxon*9*.jar</String>`

However, Oxygen 24.1 ships with Saxon 10, and now has the Saxon lib as:

`oxygen-patched-saxon-10.jar`

I'm going to try adding that alongside the existing one, so we maintain backwards compatibility, and see if that fixes it.

[2022-03-18 18:13] martindholmes commented on #54
This works for Oxygen 24.1; will enlist other users to test for earlier versions.

[2022-03-21 03:51] raducoravu commented on #54
@martindholmes fix looks good to me, we did the same thing in the TEI .framework files bundled with Oxygen 24.1

[2022-03-21 04:03] martindholmes commented on #54
Thanks @Radu. I'll close this then. :-)

[2022-03-31 09:39] raducoravu commented on #54
@martindholmes  Also all transformation scenarios in the "teip*.framework" files which contained references to:

      ${oxygenHome}/lib/*log4j*.jar

need to be changed to contain references to:

					<String>${oxygenHome}/lib/oxygen-patched-slf4j.jar</String>
					<String>${oxygenHome}/lib/logback-classic-*.jar</String>
					<String>${oxygenHome}/lib/logback-core-*.jar</String>
					<String>${oxy

[2022-03-31 15:33] martindholmes commented on #54
@radu If I replace the original log4j with this collection, will things still work with older versions? I'm not sure how your patching has been done, but if someone is using (say) Oxygen 20, will they still need to have the original log4j path as well as these new ones, or have all recent Oxygens been updated to the replacement log4j files above?

[2022-04-01 04:24] raducoravu commented on #54
@martindholmes indeed if you want the framework to work with any Oxygen version you would need to leave the reference to:

      ${oxygenHome}/lib/*log4j*.jar

and add the other references to the new logging jars used in Oxygen 24.1 instead of replacing the old reference to the log4j jar with them.

[2022-04-01 15:18] martindholmes commented on #54
Thanks @raducoravu. If it's OK with you I'm going to ask you to check over my pull request before I merge the changes.

[2022-04-05 02:17] martindholmes commented on #54
Now complete.

[2022-04-05 02:17] #54 closed

[2022-06-13 15:23] martindholmes opened #56 "Use of JavaScript in Ant build file fails in Java 15+"
As long promised, Java 15 has removed support for the Nashorn JS engine, which I was using to do some simple string manipulation, so the builds won't work on those Javas. There should be a simple replacement using the replaceregexp task, so I'm working on that now.

[2022-09-19 12:32] bansp opened #57 "add a link to the "how to update" document to the tei-c.org page, under "Tools""
I hope that it makes more sense to post this enhancement issue here rather than shooting it out to TEI-L.

I've been trying to put myself in the shoes of a student or a beginning user of the TEI and, a.o., seeing how easily I could get to the information on the TEI framework of oXygen and on why I should want to use it. That took a lot of digging -- as a student or a beginner user, I think I'd hav

[2022-10-14 15:14] #56 closed

[2022-10-14 15:17] martindholmes commented on #27
@AlexJitianu As @raducoravu suggests, I think the TEI Council needs to coordinate with you so that we can figure out how best to move forward with the TEI plugin given the changes that keep coming with every Oxygen release. Your version of the TEI frameworks and ours have diverged considerably by this point. I'm going to ask TEI Council if one or more of them is willing to join in on this ticket t

[2022-10-17 08:25] AlexJitianu commented on #27
If I understand it correctly, the cause of these breaks are usually triggered by jar updates, when these jars are mentioned the the *.framework file. We have an internal issue recorded to hide version related tokens from behind wilcards in the *.framework file. When we do this, we can contribute the change here as well.
Also, if you decide it's time to move the compatibility from Oxygen 18.1 to a